<%= link_to 'new tweet', new_tweet_path %>
<%=link_to 'All tweets', tweets_path %>

<h1>Tweets
 <% if @mode%>
    about <%=@mode %> 
    <% end %>  
 </h1>   
<table>
  <tr>
    <th>Tag</th>
    <th colspan='5' >Status</th>
  </tr>
 
  <% @tweets.each do |t| %>
    <tr>
      <td><%= link_to t.tag, '/tags/'+t.tag  %></td>
      <td><%=link_to t.status, tweet_path(t) %></td>
      <td><%= link_to 'Edit', edit_tweet_path(t) %> </td>
      <td><%=link_to 'Delete', tweet_path(t) , method: :delete, data: {alert:'heyy', confirm: 'u sure?'} %>

    </tr>
  <% end %>
</table>
