

<%=form_tag tweets_path, :method => :get do %>

<p>
<%= text_field_tag :search, params[:search] %>
<%=submit_tag "search", :name => nil %>
</P>
<%end%>



<h1>Tweets
 <% if @mode%>
    about <%=@mode %> 
    <% end %>  
 </h1>   




<table class ="table table-bordered" >
  <tr>
    <th>Title</th>
    <th>Status</th>
  <th>Options</th>
</th>
  </tr>
 
  <% @tweets.each do |t| %>
    <tr>
      <td><%= link_to t.title, title_tweet_path(t.title) %></td>
      <td><%=   link_to  (if(t.status.size>50) 
                      t.status.slice(0,47)+"..."
                  else 
                    t.status
                   end), tweet_path(t) %></td>
      <td><%= link_to 'Edit', edit_tweet_path(t) %> </td>
      <td><%=link_to 'Delete', tweet_path(t) , method: :delete, data: { confirm: 'u sure?'} %>

    </tr>
  <% end %>
</table>

