<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>
<script>
	document.getElementById("er").style.color = "Red";
document.getElementById("er").style.fontFamily = "Arial";
document.getElementById("er").style.fontSize = "small";


</script>
<%if model_signed_in?%>
<%=link_to 'sing out', destroy_model_session_path, method: :delete %>
  <% else %>
   <%= link_to 'sing up', new_model_registration_path %>  
   <%= link_to 'sign in', model_session_path %>
<%end%>

</body>
</html>
